* {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

/*Navbar*/

.dropdown-content {
    margin: 0;
    display: none;
    min-width: 300px;
    /* Changed this to accomodate content width */
    max-height: auto;
    margin-left: -1px;
    /* Add this to keep dropdown in line with edge of navbar */
    overflow: hidden;
    /* Changed this from overflow-y:auto; to overflow:hidden; */
    opacity: 0;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    will-change: width, height;
}
nav {
    background-color: rgb(0, 51, 116);
}
.dropdown-content li a {
    color: white;
}
.dropdown-content>li:hover {
    background-color: rgb(0, 46, 104);
}
.dropdown-content {
    background-color: rgb(0, 51, 116);
}
.logo {
    margin-left: 2rem;
}
li>img {
    padding-top: 8px;
}
.elementos>li>a {
    position: relative;
    color: white;
    text-decoration: none;
}
.elementos>li>a:hover {
    color: white;
}
.elementos>li>a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.elementos>li>a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Fin de Navbar*/

.card-title {
    color: rgb(234, 52, 54) !important;
    font-weight: bolder !important;
    background-color: rgb(0, 0, 0);
    border-top-right-radius: 50px;
    background-color: white;
}
#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}
#form p {
    text-align: center;
}
#form label {
    font-size: 20px;
}
input[type="radio"] {
    display: none;
}
label {
    color: grey;
    font-size: 50px;
}
.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

input[type="radio"]:checked ~ label {
    color: orange;
}

/* label focus color */

.input-field textarea:focus + label {
    color: rgb(255, 255, 255) !important;
}

/* label underline focus color */

.row .input-field textarea:focus,
input:focus {
    border-bottom: 1px solid rgb(16, 114, 239) !important;
    -webkit-box-shadow: 0 1px 0 0 rgb(16, 114, 239) !important;
    box-shadow: 0 1px 0 0 rgb(16, 114, 239) !important
}
.input-field input:focus + label {
    color: rgb(16, 114, 239) !important;
}
.input-field .prefix.active {
    color: rgb(16, 114, 239);
}
img,
nav,
.material-icons,
.clasificacion {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
p {
    font-weight: bold;
}
#btn {
    background-color: rgb(241, 166, 49);
}
#btn:hover {
    background-color: rgb(242, 151, 9);
}

.resp,.hey,#dad{
    margin: 0;
    padding: 0;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: rgb(16, 114, 239);
}
[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid rgb(16, 114, 239);
}
